<section id="about" class="section is-large add-navbar-space">
    <div class="container">
        <div class="columns">
            <div class="column is-half description-column">
                <h3 class="is-font-section-title is-font-color-highlight">About Me</h3>
                <p class="is-font-body is-font-color-white">Hi there, my name is Ashan Boralugoda and I'm a web
                    developer with over 4 years of experience. I have worked on both the front-end and the back-end of a
                    number of different web sites & web applications over the years and I am well versed in several
                    different programming languages and technologies. I have been getting more and more in to designing
                    and developing UIs. Making things interactive & fun to use gives me joy.</p>
                <br>
                <p class="is-font-body is-font-color-white">I've worked for two different leading web-development
                    companies in Sri Lanka before moving to Canada
                    to undertake a post-graduate certificate in Mobile Solutions development at Conestoga College,
                    Waterloo Ontario. I'm currently focused on finishing my studies and getting more involved with
                    mobile development.
                </p>
                <br>
                <p class="is-font-body is-font-color-white">
                    These are some of the technologies I'm experienced in:
                </p>
                <br>
                <div class="columns skills-columns">
                    <span class="tag is-medium">Javascript / JQuery</span>
                    <span class="tag is-medium">Vue / Vuex</span>
                    <span class="tag is-medium">Gridsome / Graphql</span>
                    <span class="tag is-medium">Wordpress / Woocommerce</span>
                    <span class="tag is-medium">PHP</span>
                    <span class="tag is-medium">Node.js / Express / AdonisJS</span>
                    <span class="tag is-medium">CSS / SCSS / Bootstrap / Bulma</span>
                    <span class="tag is-medium">MongoDB / MySQL</span>
                </div>
            </div>
            <div class="column is-half image-column">
                <img src="images/ashanub-about-picture.jpg" class="site-border-radius site-element-shadow-large"
                     alt="Ashan Boralugda image">
            </div>
        </div>
    </div>
</section>