<section class="footer">
    <div class="content has-text-centered">
        <p class="is-font-color-white">Artwork Credit:</p>
        <p class="is-font-color-white">
            Animation By Jonathan Swanzy from <a href="https://lottiefiles.com/67756-man-waving-contacy" target="_blank" class="link">lottiefiles.com</a>
        </p>
        <p class="is-font-color-white">
            Designed & Developed by <a href="https://github.com/ashanub/ashanub.com" target="_blank" class="link">Ashan Boralugoda </a> <span class="heart">❤</span>
        </p>
    </div>
</section>