<section class="hero is-fullheight">
    <!--    Navbar header -->
    <div class="hero-head">
        {{> navBar}}
    </div>

    <!--    Hero section content-->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half description-column">
                    <h3 class="hero-sub-text">Hi There!</h3>
                    <h1 class="title hero-title">I'm Ashan.</h1>
                    <p class="subtitle hero-subtitle">A web developer, designer & an aspiring mobile developer based in
                        <span class="location">Waterloo, Ontario</span></p>
                    <a href="#contact" class="button is-light is-primary hero-cta site-element-shadow-small"
                       id="talk-to-me">Talk to me</a>
                </div>
                <div class="column is-half animation-column">
                    <lottie-player src="images/waving_man.json" background="transparent" speed="1" loop
                                   autoplay></lottie-player>
                </div>
            </div>
        </div>
    </div>
</section>