<header class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="images/ashanub-logo.png" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="navbarSiteTop" id="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
        </div>
        <div id="navbarSiteTop" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="#about">
                    About Me
                </a>
                <a class="navbar-item" href="#work">
                    My Work
                </a>
                <a class="navbar-item" href="#contact">
                    Contact Me
                </a>
            </div>
        </div>
    </div>
</header>