<div class="social-links" style="position: {{position}}" id="{{id}}">
    <div class="container">
        <a href="https://www.linkedin.com/in/ashanub/">
            <div class="icon linkedin site-element-shadow-very-small">
                <i class="fab fa-linkedin-in fa-2x"></i>
            </div>
        </a>
        <a href="https://github.com/ashanub">
            <div class="icon github site-element-shadow-very-small">
                <i class="fab fa-github fa-2x"></i>
            </div>
        </a>
        <a href="https://twitter.com/ashanub/">
            <div class="icon twitter site-element-shadow-very-small">
                <i class="fab fa-twitter fa-2x"></i>
            </div>
        </a>
        <a href="https://www.instagram.com/l____o_0____l/">
            <div class="icon instagram site-element-shadow-very-small">
                <i class="fab fa-instagram fa-2x"></i>
            </div>
        </a>
        <a href="https://codepen.io/ashanub">
            <div class="icon codepen site-element-shadow-very-small">
                <i class="fab fa-codepen fa-2x"></i>
            </div>
        </a>
    </div>
</div>