<section class="hero is-fullheight is-background-site-base">
    <!--    Navbar header -->
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
                    </a>
                    <span class="navbar-burger" data-target="navbarSiteTop">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarSiteTop" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            About Me
                        </a>
                        <a class="navbar-item">
                            My Work
                        </a>
                        <a class="navbar-item">
                            Contact Me
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!--    Hero section content-->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half description-column">
                    <h3 class="hero-sub-text">Hi There!</h3>
                    <h1 class="title hero-title">I'm Ashan.</h1>
                    <p class="subtitle hero-subtitle">A web developer, designer & an aspiring mobile developer based in <span class="location">Waterloo, Ontario</span></p>
                    <a href="#" class="button is-light is-primary hero-cta">Talk to me</a>
                </div>
                <div class="column is-half animation-column">
                    <lottie-player src="images/waving_man.json"  background="transparent"  speed="1" loop autoplay></lottie-player>
                </div>
            </div>
        </div>
    </div>
</section>