<!--Intro section-->
{{> intro}}
<!--About section-->
{{> about}}
<!--Work section-->
{{> workSection}}
<!--Contact Section-->
{{> contact}}
<!--Footer-->
{{> footer}}

<div class="is-hidden-touch">
    {{> socialLinks position="fixed" id="social-links-desktop"}}
</div>