<section class="hero is-fullheight">
    <!--    Navbar header -->
    <div class="hero-head">
        {{> navBar}}
    </div>

    <!--    Hero section content-->
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    {{> workDetailsCard visibility="" shadow="very-small" id="damsila" image="damsila" alt="Damsila blog screenshot"
                            body="A blog made for Damsila Exports Sri Lanka" techStack="Wordpress;HTML;CSS;JS / JQuery" link="http://easternminerals.lk/"}}
                </div>
                <div class="column is-one-third">
                    {{> workDetailsCard visibility="" shadow="very-small" id="chambers" image="chambers" alt="Chambers Colombo screenshot"
                            body="Corporate Website of Chambers, Colombo. The site was converted from a static site in to a
                            dynamic site by implementing Wordpress as a CMS" techStack="Wordpress;HTML;CSS;JS / JQuery" link="http://chamberscolombo.com/"}}
                </div>
                <div class="column is-one-third">
                    {{> workDetailsCard visibility="" shadow="very-small" id="penthouse" image="penthouse" alt="Penthouse Above Sea screenshot"
                            body="Website for Penthouse Above Sea. A Boutique hotel in Colombo, Sri Lanka"
                            techStack="Wordpress;HTML;CSS;JS / JQuery" link="http://thepenthouseabovesea.com/"}}
                </div>
                <div class="column is-one-third">
                    {{> workDetailsCard visibility="" shadow="very-small" id="nihon" image="nihon" alt="Nihon Property sales screenshot"
                            body="A property sale website built for Nihon Property Sales, Sri Lanka"
                            techStack="Wordpress;HTML;CSS;JS / JQuery" link="https://nihonpropertysales.com/"}}
                </div>
                <div class="column is-one-third">
                    {{> workDetailsCard visibility="" shadow="very-small" id="jacktree" image="jacktree" alt="Jacktree Lodge screenshot"
                            body="Website for Jacktree Lodge. A hotel in Kandy, Sri Lanka"
                            techStack="Wordpress;HTML;CSS;JS / JQuery" link="http://jacktreelodge.lk/"}}
                </div>
                <div class="column is-one-third">
                    {{> workDetailsCard visibility="" shadow="very-small" id="wanasinghe" image="wanasinghe" alt="Wanasinghe Law Chambers screenshot"
                            body="Corporate website for Wanasinghe Chambers, Colombo. The site was converted from a static site in to a
                            dynamic site by implementing Wordpress as a CMS"
                            techStack="Wordpress;HTML;CSS;JS / JQuery" link="http://wanasinghelawchambers.com/"}}
                </div>
            </div>
        </div>
    </div>
</section>

<!--Footer-->
{{> footer}}