/*Site Variables */
//Colors
$site-base-color: #312244;
$site-cta: #FDB85D;
$site-purple: #72385e;
$site-black: #1c1427;
$site-purple-dark: #1c142778;

$site-font-white: #ccb9e4;
$site-font-highlight: #E47F61;
$site-font-dull: #B0A8B9;

//Font
$site-main-font: 'Fira Sans', sans-serif;