/*Site Variables */
//Colors
$site-base-color: #312244;
$site-cta: #FDB85D;

$site-font-white: #FCEAFF;
$site-font-highlight: #E47F61;
$site-font-dull: #B0A8B9;

//Font
$site-main-font: 'Fira Sans', sans-serif;